<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aar.businessinspain" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme"
        android:label="@string/app_name">

        <activity android:name="aar.businessinspain.Main"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="aar.businessinspain.MenuInicio"
            android:label="@string/title_activity_menu_inicio"
            android:screenOrientation="portrait"
            android:parentActivityName="aar.businessinspain.Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aar.businessinspain.Main" />
        </activity>
        <activity
            android:name="aar.businessinspain.MenuSpain"
            android:label="@string/title_activity_menu_spain"
            android:screenOrientation="portrait"
            android:parentActivityName="aar.businessinspain.MenuInicio" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aar.businessinspain.MenuInicio" />
        </activity>
        <activity
            android:name="aar.businessinspain.MenuInfo"
            android:label="@string/title_activity_menu_info"
            android:screenOrientation="portrait"
            android:parentActivityName="aar.businessinspain.MenuSpain" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aar.businessinspain.MenuSpain" />
        </activity>
        <activity
            android:name="aar.businessinspain.MenuProtocolo"
            android:label="@string/title_activity_menu_protocolo"
            android:screenOrientation="portrait"
            android:parentActivityName="aar.businessinspain.MenuSpain" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aar.businessinspain.MenuSpain" />
        </activity>
        <activity
            android:name="aar.businessinspain.Details"
            android:label="@string/title_activity_details" >
        </activity>
        <activity
            android:name="aar.businessinspain.MenuEmergencias"
            android:label="@string/title_activity_menu_emergencias"
            android:screenOrientation="portrait"
            android:parentActivityName="aar.businessinspain.MenuSpain" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aar.businessinspain.MenuSpain" />
        </activity>
        <activity
            android:name="aar.businessinspain.MenuGeneral"
            android:label="@string/title_activity_menu_general"
            android:screenOrientation="portrait"
            android:parentActivityName="aar.businessinspain.MenuSpain" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aar.businessinspain.MenuSpain" />
        </activity>
    </application>

</manifest>
